<div class="header-body">
    <!-- Code Here -->
    <div class="container">
        <div class="container-left">
            <div class="profile">
                <label for="name" class="label_name">Dr. Jhon Doe</label>
            </div>
            <div class="logout">
                <a href="" class="label_logout"(click)="logout()">Logout</a>
            </div>
        </div>

        <div class="container-right">
            <img src="/assets/Images/Petzy_blue.png" class="img_round" />
        </div>
    </div>
</div>