<div class="appointment-body">
  <mat-card class="container">
    <div class="container-body">
      <div class="container-top">
        <div class="container-right">
        <div class="icon">
          <i style=" margin-right:8px; color:rgb(231, 99, 18);"class="fa-sharp fa-solid fa-bolt" ></i>
        </div>
            
         </div>
         <div class="container-left">
          <div class="Total">
            Total
          </div>
        </div>
          </div>
          <div class="container-bottom">
            <div class="number1" id="margin" style="margin-left:15px ;">
              <b>{{number1}}</b>
            </div>
           </div>
       </div>


  </mat-card>
  <mat-card class="container">
    <div class="container-body">
      <div class="container-top">
        <div class="container-right">
          <div class="icon">
            <i style=" margin-right:8px; color:rgb(231, 99, 18);"class="fa-solid fa-check" ></i>
          </div>
        </div>
        <div class="container-left">
          <div class="confirmed">
            confirmed
          </div>
        </div> 
      </div>
      <div class="container-bottom">
        <div class="number2" id="margin" style="margin-left:15px ;"  >
          <b>{{number2}}</b>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="container">
    <div class="container-body">
      <div class="container-top">
        <div class="container-right">
          <div class="icon">
            <i style=" margin-right:8px; color:rgb(224, 109, 100);"class="fa-regular fa-square-check" ></i>
          </div>
        </div>
        <div class="container-left">
          <div class="closed">
           closed
          </div>
        </div>
      </div>
      <div class="container-bottom">
        <div class="number3"  id="margin" style="margin-left:15px">
        <b>{{number3}}</b>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="container">
    <div class="container-body">
     <div class="container-top">
       <div class="container-right">
          <div class="icon">
            <i style=" margin-right:8px; color:rgb(231, 99, 18);"class="fa-solid fa-circle-xmark" ></i>
          </div>
       </div>
       <div class="container-left">
          <div class="cancelled">
           cancelled 
          </div>
        </div>
      </div>
     <div class="container-bottom">
      <div class="number4" id="margin" style="margin-left:15px ;">
        <b>{{number4}}</b>
      </div>
     </div>
    </div>
  </mat-card>
</div>



<!-- <!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="row">
  <div class="column" style="background-color:white;">
    <h2>Total</h2>
    <p>20</p>
  </div>
  <div class="column" style="background-color:white;">
    <h2>Confirmed</h2>
    <p>12</p>

  </div>
  <div class="column" style="background-color:white;">
    <h2>Closed</h2>
    <p>01</p>
    
  </div>
  <div class="column" style="background-color:white;">
    <h2>Cancelled</h2>
    <p>01</p>
    
  </div>
</div>

</body>
</html> -->











