<div class="appointment-body">

    <div class="appointment-container" [routerLink]="['/allAppointment']">
        <i class="fa-solid fa-arrow-left-long"></i>
        Back to Appointments
    </div>
    <div class="id">
        #ID-239143
    </div>

    <div class="calender">
        <div class="calender-left">
            <i class="fa-solid fa-calendar" style="margin-right: 1%;"></i>
            25th March,2022
            <i class="fa-soli fa-solid fa-clock" style="margin-left: 1%;"></i>
            10:23 PM
        </div>
        <div class="calender-right">
            <i class="fa-solid fa-message" style="margin-left:1%;color:orange;"></i>
            <i class="fa-light fa-solid fa-phone" style="margin-left:3%; color:orange;"></i>
            <i class='fas fa-video' style='font-size:15px; margin-left:3%;color:orange'></i>
            <button
                style="margin-left:5%; background-color: white; border-style: hidden;border-radius:5px; size:large;">Cancel</button>
            <button
                style="margin-left:2%; background-color:white;border-style:hidden; border-radius:5px;size:large;">Edit</button>
            <button
                style="margin-left:6%; background-color:orange; border-style:hidden; border-radius:5px;size:large;">Close
                Appointment</button>
        </div>
    </div>
    <div class="Issues">
        Pet Issuess:

        <label
            style=" margin-left:1%;background-color: rgb(232, 130, 93); border: 1px; border-radius:4px; size:10px;">Hand
            Injury</label>
        <label
            style=" margin-left:2%;background-color: rgb(232, 130, 93); border: 1px; border-radius:4px; size:10px;">IBS</label>
    </div>
    <div class="reasons">
        Reasons for visit: Dog hasn't been feeling well since Tuesday
        <br>
        confirmed by Jane Doe
    </div>
    <hr style="margin-left:3%;"> 

    <div class="container">
       
        <div class="container-right">
            <mat-card style="width:100%;height:85%;">
            <div class="image1">
                <div class="img1">
                    <img class="petimg"
                        src="https://i.insider.com/5df126b679d7570ad2044f3e?width=1100&format=jpeg&auto=webp" />
                    <div class="details" style="width:50%;height:100%;">
                        <div class="data1">
                            <pre>Patient</pre>
                        </div>
                        <div class="data2">
                            <b>Doggo</b>
                            <pre>Afghan Hould</pre>
                        </div>
                    </div>
                </div>
                <div class="img2">
                    <div class="vet1">
                        <img class="docimg"
                            src="https://www.cdc.gov/diabetes/images/library/spotlights/clinic-doctor-image.png?_=45953" />
                    </div>
                    <div class="vet2">
                        <div class="petowner">
                            Pet Owner
                        </div>
                        <div class="names">
                            Jack Hall
                        </div>
                    </div>
                </div>
            </div>
            <div class="image2">
                <div class="app1">
                    <div class="body">
                        <div class="Gender">
                            <pre>Gender:</pre>
                        </div>
                        <div class="Age">
                            <pre>Age:</pre>
                        </div>
                    </div>
                    <div class="body1">
                        <div class="Male">
                            <pre>Male(Neutred)</pre>
                        </div>
                        <div class="year">
                            <pre>2.2 years</pre>
                        </div>
                    </div>
                </div>
                <div class="app2" style="width:50%;height:100%;display:flex;">
                    <div class="date1">
                        <i class="fa-solid fa-envelope"></i>
                        <label for ="name "class="name"> johndoe@gmail.com</label>

                        <i class="fa-solid fa-phone"></i>
                        <label for="name" class="name"> ++442071838750</label>
                        <br>
                        <i class="fa fa-home"></i>
                        <label for ="name" class="name">Bangalore,Karnataka</label>
                        <br>
                        560037
                    </div>

                </div>

            </div>
        </mat-card>
        
        </div>

        <div class="container-left">
            <mat-card style="width:100%;height:85%; margin-left:3%;">
            <div class="right" style="width:100%;height:50%;display:flex; ;">
                <div class="right1" style="width:25%;height:100%;display:flex;;">
                    <img class="john"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDaZGktWw38rJkihGi-ttpjz1WqyJtpmtw9w&usqp=CAU" />
                </div>
                <div class="right2" style="width:40%;height:100%;">
                    <div class="doe" style="width:50%;height:30%;margin-top:10%;">
                        <label for="name" class="name">Doctor</label>
                    </div>
                    <div class="email" style="width:100%; height:30%; ">
                        <label for="name" class="name">Dr.John Doe</label>
                        <br>
                        <label for="name" class="name">NAVLE</label>
                    </div>
                </div>
            </div>
            <div class="left" style="width:100%;height:50%;display:flex;">
                <div class="number" style="height:100%;width:50%;  display:flex;">
                    <div class="number1" style="height:100%; width:50%;">
                        <div class="npi" style="height:20%; width:60%;margin-left:38%;">
                            <label for="name" class="name">NPI NO:</label>
                        </div>
                        <div class="npi1"
                            style="height:20%; width:60%; margin-left:37%;">
                            <label for="name" class="name">Clinic :</label>
                        </div>

                    </div>
                    <div class="number2" style="height:100%; width:100%;">
                        <div class="npm" style="height:20%;width:100%;">
                            <label for="name" class="name">6745467</label>
                        </div>
                        <div class="npm1" style="height:35%;width:100%;">
                            <label for="name" class="name">St.John's Clinic</label>
                            <br>
                            <label for="name" class="name">Utah,US</label>
                        </div>
                    </div>
                </div>
                <div class="email" style="width:40%;height:100%;">
                    <i class="fa-solid fa-envelope"></i>
                   <label for ="name "class="name"> johndoe@gmail.com</label>
                    <br>
                    <i class="fa-solid fa-phone"></i>
                   <label for="name" class="name"> ++442071838750</label>
                </div>
            </div>
        </mat-card>  
        </div>
    </div>
    </div>
