.pets-body {
  background-color: #e4eef7;
  width: 100%;
  height: 100%;
}
form{
  height: 70%;
  width: 25%;
  margin-left: 35%;
  padding-top: 1%;
  /* background-color: rgb(0, 115, 255); */
  border: 1px solid rgb(67, 66, 66);
  border-radius: 4%;
  padding: 2%;
}
.matt{
  width: 84%;
  height: 85%;
  padding: 3%;
  /* background-color: cornflowerblue; */
}
/* .edit_pet{
  border-width: 50px;
  border: 2px solid black;
  margin-left: 50%;
} */
.radio_style{
  margin-top: -7%;
  width: 80%;
}
.anim_style{
  font-size: 10px; 
  margin-top: -2%;
  width: 80%;
}

.image_cont{
  display: flex;
}
.petz_name{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: thin;
  margin-top: 9%;
  margin-left: -13%;
  height: 20%;
  width: 40%;
}
.specy{
  /* background-color: coral; */
  margin-top: 7%;
  width: 80%;
}
.radio_but{
  /* background-color: rgb(80, 203, 255); */
  height: 8%;
  margin-top: -5%;
  display: flex;
  width: 80%;
  /* background-color: yellow; */
}
.animal1{
  /* background-color: orange; */
  width: 70%;
}
.gend_cls{
  height: 8%;
  margin-top: -5%;
  display: flex;
}
.dob{
  display: flex;
  font-size: 12px;
  margin-top: -5%;
  /* background-color: coral; */
}
.date_birth{
  height: 15px;
  margin-top: 8%;
  margin-left: -24%;
}
.anim_age{
  margin-left: 10%;
  margin-top: 0.5%;
}
.anim_aze{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: thin;
  margin-top: 7.5%;
  margin-left: -9%;
  height: 20%;
  width: 40%;
}
.bld_grp_main{
  display: flex;
}
.blood_grp{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: thin;
  /* margin-left: -9%; */
  height: 43%;
  width: 70%;
  /* margin-top: -8%; */
}
.bld_name{
  margin-top: 3%;
  font-size: 12px; 
}
.inp_txt1{
  margin-top: 3%;
  margin-left: 2%;
}
.allergy_main{
  display: flex;
  margin-top: -5%;
}
.allergy_name{
  margin-top: -6%;
  font-size: 12px; 
  margin-top: 5%;
}
.inp_txt2{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: thin;
  margin-top: 10%;
  /* margin-left: -9%; */
  height: 28%;
  width: 50%;
  margin-left: 5%;
}
.allergy_inp{
  /* margin-top: -6%; */
}
.buttons1{
  display: flex;
  margin-top: 9%;
  /* background-color: antiquewhite; */
}
.cancel_but{
  width: 100%;
  padding: 5px;
  border: 0.5px solid gray;
  border-radius: 3px;
}
.submit_but{
  width: 100%;
  padding: 5px;
  color: white;
  background-color: rgb(255, 55, 0);
  border: 0.5px;
  border-radius: 3px;
  margin-right: 5%;
}
.gend_name{
margin-top: -15px;
}
.gend_name2{
font-size: 10px;
margin-top: -3px;
}
.doggo_op{
width: 70px; 
height:70px; 
border-radius:50%;
}
.naming_css{
margin-left: 30px;
}
.cancel{
/* background-color: chartreuse; */
width:120%;
margin-left: 5%;
}
.confirm{
/* background-color:rgb(55, 20, 255); */
width:120%;
margin-left: 15%;
margin-right: 5%;
}