<div class="landing-page-body">
    <div class="top-bar">
       
        
        <div class="home">
            
        </div>
        <div class="login">
            <button class="btn_login" (click)="login()">Login</button>
        </div>

        <div class="contactus">
            <button class="btn_contactus">Contact Us</button>
        </div>
        <div class="petzy-img">
            <img src="/assets/Images/Petzy_blue.png" class="pimg" >
        </div>
    </div>
    <div class="info" >
        
       <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/corgi-4415649__480.jpg" class="bg-img">
   
    </div>

</div>