<div class="sidebar-body">
    <div class="image_container">
        <img class="center" src="/assets/Images/Petzy_blue.png" width="30" height="30" alt="Petzy_logo">
    </div>
    <div class="navigation_sidebar">
        <ul>
            <li class="nav-list"><a [routerLink]="['/allAppointment']"><i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp; Dashboard </a></li>
            <li class="nav-list"><a [routerLink]="['/allpet']"><i class="fa-solid fa-paw"></i>&nbsp;&nbsp; Pets </a></li>
            <li class="nav-list"><a [routerLink]="['/allvet']"><i class="fa-solid fa-user-doctor"></i>&nbsp;&nbsp; Vets </a></li>
            <li class="nav-list"><a [routerLink]="['/profile']"><i class="fa-solid fa-user"></i>&nbsp;&nbsp; Profile </a></li>
        </ul>
    </div>
</div>