<div class="appointment-body">
    <div class="top">
        <div class="ap1">
            <div class="apreport">
                Appointment Report
            </div>
        </div>
        <div class="button">
            <div class="save">
                <button>
                    Save
                </button>
            </div>
            <div class="report">
                <button>
                    <i class="fa-solid fa-download"></i>
                    Report
                </button>
            </div>
        </div>
    </div>



    <div class="bottom">
    
        <div class="bottomhalf">
            <div class="bottomhalf-right">
                <mat-card class="bottom1">
                    <div class="mat-container-top">
                            <div class="b1">
                                Prescription
                            </div>
                        </div>
                    <div class="mat-container-bottom">
                        <div class="b2">
                            <div class="mat-b2" style=" width: 100%;height: 100%;">
                                <div class="mat-b2-left" style=" width: 70%;height: 100%;">
                               <div class="one" style="width: 50%;height: 20%;margin-left: 3%;">
                                  <div class="crocine" style="color:grey ; font-weight:500">
                                    1.Crocine
                                </div>
                            </div>
                            <div class="two" style=" width: 40%;height: 18%;margin-left:2%;margin-top: 0.5%;">
                                <div class="day" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;">
                                    Days : 10
                                </div>
                            </div> 
                            <div class="three" style=" width: 95%;height: 27%;margin-left:2%;margin-top: 4%;">
                                <div class="suggest" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;width: 99%;">
                                    Don't use hot water to consume
                                    tablets
                                </div>
                            </div> 
                            </div>
                        </div>
                        <div class="b2" style="margin-top:4%;margin-left: 0%; border: radius 0.5em; border: solid;width: 100%;height: 100%;border-width: thin thin thin thin;">
                            <div class="mat-b21" style=" width: 100%;height: 100%;">
                                <div class="mat-b2-left1" style=" width: 70%;height: 100%;">
                               <div class="one1" style=" width: 50%;height: 20%;margin-left: 3%;">
                                  <div class="crocine1" style="color:grey ; font-weight:500">
                                    1.Crocine
                                </div>
                            </div>
                            <div class="two1" style="width: 40%;height: 18%;margin-left:2%;margin-top: 0.5%;">
                                <div class="day1" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;">
                                    Days : 10
                                </div>
                            </div> 
                            <div class="three1" style=" width: 95%;height: 27%;margin-left:2%;margin-top: 4%;">
                                <div class="suggest1" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;width: 99%;">
                                    Don't use hot water to consume
                                    tablets
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="b2" style="margin-top:26%;">
                            <div class="mat-b211" style=" width: 100%;height: 100%;">
                                <div class="mat-b2-left11" style=" width: 70%;height: 100%;">
                               <div class="one11" style="width: 50%;height: 20%;margin-left: 3%;">
                                  <div class="crocine11" style="color:grey ; font-weight:500">
                                    1.Crocine
                                </div>
                            </div>
                            <div class="two11" style=" width: 40%;height: 18%;margin-left:2%;margin-top: 0.5%;">
                                <div class="day11" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;">
                                    Days : 10
                                </div>
                            </div> 
                            <div class="three11" style=" width: 95%;height: 27%;margin-left:2%;margin-top: 4%;">
                                <div class="suggest11" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;width: 99%;">
                                    Don't use hot water to consume
                                    tablets
                                </div>
                                </div>
                            </div> 
                            </div>
                        </div>
                        <div class="b2" style="margin-top:4%;">
                            <div class="mat-b2111" style="width: 100%;height: 100%;">
                                <div class="mat-b2-left111" style=" width: 70%;height: 100%;">
                               <div class="one111" style="width: 50%;height: 20%;margin-left: 3%;">
                                  <div class="crocine111" style="color:grey ; font-weight:500">
                                    1.Crocine
                                </div>
                            </div>
                            <div class="two11" style=" width: 40%;height: 18%;margin-left:2%;margin-top: 0.5%;">
                                <div class="day11" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;">
                                    Days : 10
                                </div>
                            </div> 
                            <div class="three111" style=" width: 95%;height: 27%;margin-left:2%;margin-top: 4%;">
                                <div class="suggest111" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;width: 99%;">
                                    Don't use hot water to consume
                                    tablets
                                </div>
                                </div>
                            </div> 
                            </div>
                        </div>
                        <div class="b2" style="margin-top:3.5%;">
                            <div class="mat-b2111" style=" width: 100%;height: 100%;">
                                <div class="mat-b2-left111" style=" width: 70%;height: 100%;">
                               <div class="one111" style=" width: 50%;height: 20%;margin-left: 3%;">
                                  <div class="crocine111" style="color:grey ; font-weight:500">
                                    1.Crocine
                                </div>
                            </div>
                            <div class="two11" style=" width: 40%;height: 18%;margin-left:2%;margin-top: 0.5%;">
                                <div class="day11" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;">
                                    Days : 10
                                </div>
                            </div> 
                            <div class="three111" style=" width: 95%;height: 27%;margin-left:2%;margin-top: 4%;">
                                <div class="suggest111" style="color:rgb(58, 56, 56) ; font-weight:400;font-size: 11px;width: 99%;">
                                    Don't use hot water to consume
                                    tablets
                                </div>
                                </div>
                            </div> 
                            </div>
                        </div>
                    </div>
                        
                </mat-card>
        
                <mat-card class="bottom2">
                    <div class="mat-container-top1">
                        <div class="b11">
                            Recommended Clinic
                        </div>
                        <div class="address">
                            <div class="map">
                                <img class="img4"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGAzPwnFTVXFAPPuKoBOrqVDEPeDCK-u5eMatnZg2dyKYYXhHsIz1TXlbhxNr1BkAjcQ&usqp=CAU">
                            </div>
                            <div class="text">
                                ST.Johns Clinic
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="bottomhalf-left">
                <mat-card class="box1">
                    <div class="name1" style="width: 90%; height:20%;margin-left:2%;">
                       <div class="vitals" style="width:20% ; height:10%;font-size:15px; font-weight: 400;color: black;"> Vitals</div>
                       <div class="vitals1" style="width: 97%; height:30px;margin-top: 8%;">
                       
                            <div class="heart" style="margin-left:0.5%;">
                                <div class="heart" style="display: flex;">
                                <img class="img1" style="width: 8%; height:27%;margin-top: 3.5%;margin-left: 7%;"
                                    src="https://png.pngitem.com/pimgs/s/74-740192_heart-png-outline-transparent-red-heart-outline-transparent.png">
                                    <img class="img2" style="width: 8%; height:10%;margin-top:3.5%;margin-left: 24%;"
                                    src="https://www.freeiconspng.com/thumbs/temperature-icon-png/temperature-icon-png-1.png">
                                    <img class="img3" style="width: 8%; height:10%;margin-top:3.5%;margin-left: 20%;"
                                    src="https://cdn-icons-png.flaticon.com/512/3699/3699480.png">
                                </div>
                            </div>

                    
                    </div>
                        <div class="vitals3" style="width: 97%; height: 30px;margin-top: 2.5%;margin-left: 1%;">
                            <div class="vitals3" style="display: flex;">
                              <div class="v1" style="margin-left: 3%; font-weight: 500;">79</div>
                              <div class="v2" style="margin-left: 6%;">BPM</div>
                              <div class="v3" style="margin-left: 10%; font-weight: 500;">37</div>
                              <div class="v4" style="margin-left: 6%;">C</div>
                              <div class="v5" style="margin-left: 12%; font-weight: 500;">14</div>
                              <div class="v6" style="margin-left: 6%;">BPM</div>
                            </div>
                    </div>
                    </div>
                </mat-card>
                <mat-card class="box1" style="margin-top:1.5%; height: 15%;" >
                    <div class="name2" style="width: 90%; height:20%;margin-left:2%;">
                        <div class="symptoms" style="width:20% ; height:10%;font-size:15px; font-weight: 400;color: black;"> Symptoms</div>
                        <div class="symp" style="width: 97%; height: 30px;margin-top: 14%;">
                            <label style=" margin-left:3%;background-color:rgb(242, 187, 167); width: 60%; border: 1px; border-radius:5px; size:10px;">ECG</label>
                            <label style=" margin-left:8%;background-color:  rgb(242, 187, 167); width: 95%;height: 20%; border: 1px; border-radius:5px; size:10px;">Exercise Stress Test</label>
                        </div>
                        
                    </div>
                </mat-card>
                <mat-card class="box1" style="margin-top:1.5%; height: 15%;">
                    <div class="name3" style="width: 90%; height:20%;margin-left:2%;">
                        <div class="tests" style="width:20% ; height:10%;font-size:15px; font-weight: 400;color: black;"> Tests</div>
                        <div class="tes" style="width: 97%; height: 30px;margin-top: 14%;">
                            <label style=" margin-left:3%;background-color:  rgb(242, 187, 167); width: 60%; border: 1px; border-radius:5px; size:10px;">ECG</label>
                            <label style=" margin-left:8%;background-color:  rgb(242, 187, 167); width: 95%;height: 20%; border: 1px; border-radius:5px; size:10px;">Exercise Stress Test</label>
                        </div>
                     </div>
                </mat-card>
                <mat-card class="box1" style="margin-top:1.5%; height: 23%;">
                    <div class="name4" style="width: 90%; height:20%;margin-left:2%;">
                        <div class="doctor" style="width:80% ; height:20%;font-size:15px; font-weight: 400;color: black;"> Recommended Doctors</div>
                        <div class="doc" style="width: 97%; height: 30px;margin-top: 14%;">
                            <label style=" margin-left:3%;background-color:  rgb(242, 187, 167); width: 80%; border: 1px; border-radius:5px; size:10px;">Dr.John Laney</label>
                            <label style=" margin-left:8%;background-color:  rgb(242, 187, 167); width: 95%;height: 20%; border: 1px; border-radius:5px; size:10px;">Dr.Lizy McGuire</label>
                        </div>
                     </div>
                </mat-card>

        </div>
        </div>


        <div class="bottom3">
            <mat-card class="mat-bottom3" style="height:65%;">
                <div class="mat-container-top11">
                    <div class="b21" style="font-size:20px;">
                        Comments
                    </div>
                    </div>
                    <div class="mat-container-top12">
                    
                        <div class="image" style="width:8%; height:80%;margin-top: 1%;margin-left: 2%;">
                            <img class="img5" style="width:80%;height:85%;margin-top: 4%;margin-left: 6%;"
                    src="https://newassets.apollo247.com/doctors/5f0c4457-474e-459b-a2ca-8de97611c764.png">
                        </div>
                        <div class="details" style="width: 90%; height: 70%; margin-left: 1%; margin-top: 1.5%;font-size: 10px;">
                            Dr.John Doe<br>
                            Patient has IBS.Food intake needs to be monitored
                        </div>
                    </div>
           </mat-card>
    </div>
</div>